.Lobby {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80vh;
    margin: 10px auto;
}
.video-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.video {
    width: 100%;
}
video {
    box-shadow: 0 0 4px 2px rgb(49, 47, 47);
    width: 100%;
    object-fit: contain;
}

.my-id {
    width: fit-content;
    padding: 3px 5px;
    outline: 1px dashed rgb(36, 35, 35);
}
